@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

.wrapper {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  text-transform: lowercase;
  font-weight: 300;
  font-size: 5rem;
  letter-spacing: 5px;
  margin-bottom: 2rem;
  color: #353b48;
}

.links {
  text-transform: lowercase;
  list-style: none;
  display: flex;
  width: 400px;
  justify-content: space-around;
}

.links li {
  transition: margin 0.5s;
}

.projects:hover {
  margin-left: -1rem;
}

.cv:hover {
  margin: 0 1rem;
}

.github:hover {
  margin-right: -1rem;
}

.links li a {
  text-decoration: none;
  color: #2f3640;
  font-size: 1.1rem;
}

.projects a {
  color: #8c7ae6 !important;
}

.project-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.project-list .category {
  font-size: 1.2rem;
  color: #2f3640;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.project-item {
  margin-bottom: 0.5rem;
  transition: margin 0.5s;
}

.project-item:hover {
  margin-left: -0.5rem;
}

.project-item a {
  color: #8c7ae6 !important;
  text-decoration: none;
}
